<div
    class="
        form-group
        ntg-debug-margin-side-px-1
        row
    "
>
    <div
        class="
            col-xs-4
            ntg-debug-padding-left-px-0
            ntg-debug-padding-right-px-9
        "
    >
        <input
            class="
                btn
                ntg-debug-dimension-width-percent-100
                override-btn-edit
            "
            id="<%= ntg_btn_edit %>"
            type="submit"
            value="Edit."
        >
    </div>
    <div
        class="
            col-xs-4
            ntg-debug-padding-left-px-4-5
            ntg-debug-padding-right-px-4-5
        "
    >
        <input
            class="
                btn
                ntg-debug-dimension-width-percent-100
                override-btn-remove
            "
            id="<%= ntg_btn_remove %>"
            type="button"
            value="Remove."
        >
    </div>
    <div
        class="
            col-xs-4
            ntg-debug-padding-left-px-9
            ntg-debug-padding-right-px-0
        "
    >
        <input
            class="
                btn
                ntg-debug-dimension-width-percent-100
                override-btn-reset
            "
            id="<%= ntg_btn_reset %>"
            type="reset"
            value="Reset."
        >
    </div>
</div>