<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<nav
    class="
        navbar 
        navbar-default 
        navbar-fixed-top
    "
>





    <div class="container-fluid">





        <div class="navbar-header">
            <a
                class="
                    navbar-brand
                "
                href="/page_main"
            >
                Back.
            </a>
        </div>





        <div
            id="ntg_div_title_align_center"
        >
            <a
                class="
                    navbar-brand
                    ntg-debug-float-none
                    text-center
                "
                href="/"
            >
                Toyota Realtime Admin Interface.
            </a>
        </div>





    </div>





</nav>
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
<!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->