<html
    ng-app="ng_app_page_edit_register_car"
>
<head>
    <%- include /partials/import_css_and_title %>
</head>
<body
    class="
        ntg-debug-body-setting-2
    "
    ng-controller="ng_controller_page_edit_register_car"
>



    <header>
        <% include /partials/import_navbar_static_top_form %>
    </header>





    <!--
    <div
        id="ntg_div_dim_screen"
    >
    </div>
    -->





    <div
        class="
            container-fill
            ntg-debug-div-content-setting-1
        "
    >
        <div 
            class="
                row
            "
        >
            <div
                class="
                    col-xs-12
                    ntg-debug-dimension-height-percent-10
                "
            >
            </div>
        </div>
        <div 
            class="
                row
            "
        >
            <div
                class="
                    col-xs-4
                    col-xs-offset-4
                    ntg-debug-dimension-height-percent-80
                    ntg-debug-padding-side-0
                "
            >





                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
                <div
                    class="
                        ntg-debug-margin-0
                        panel
                        panel-form
                    "
                >





                    <div
                        class="
                            panel-heading
                        "
                    >
                        <div
                            class="
                                row
                            "
                        >





                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON|||||||||||||||||||||||||-->
                            <div
                                class="
                                    col-xs-6
                                "
                            >
                                <a
                                    href="#"
                                    class="
                                        active
                                    "
                                    id="form_left_link"
                                >
                                    Edit.
                                </a>
                            </div>





                            <div
                                class="
                                    col-xs-6
                                "
                            >
                                <a
                                    href="#"
                                    id="form_right_link"
                                >
                                    Register.
                                </a>
                            </div>
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||MAIN BUTTON END|||||||||||||||||||||||||-->





                        </div>
                    </div>





                    <hr
                        class="
                            ntg-debug-margin-0
                        "
                    >





                    <div
                        class="
                            panel-body
                        "
                    >





                        <div
                            class="
                                row
                            "
                        >
                            <div
                                class="
                                    col-xs-12
                                "
                            >





                                <!--|||||||||||||||||||||||||FORM EDIT CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR|||||||||||||||||||||||||-->
                                <form
                                    class="
                                        active
                                    "
                                    id="form_left"
                                    method="put"
                                    role="form"
                                >





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <select
                                            class="
                                                form-control
                                                ntg-debug-dimension-height-px-45
                                            "
                                            id="ntg_select_car"
                                            ng-model="ng_model_select_car"
                                            ng-options="
                                                item._id as item.Car_String_Name
                                                for item in ng_options_select_car
                                            "
                                        >
                                            <option
                                                disabled
                                                selected
                                                value=""
                                            >
                                                Please select object to edit.
                                            </option>
                                        </select>
                                    </div>
                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="car_string_name_edit"
                                            name="car_string_name_edit"
                                            placeholder="Car Name."
                                            type="text"
                                        >
                                    </div>


                                    <%
                                        var ntg_btn_edit="ntg_button_edit_car";
                                        var ntg_btn_remove="ntg_button_remove_car";
                                        var ntg_btn_reset="ntg_button_reset_car";
                                    %>
                                    <%- include /partials/import_button_for_register_form %>





                                </form>
                                <!--|||||||||||||||||||||||||FORM EDIT CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM EDIT CAR END|||||||||||||||||||||||||-->





                                <!--|||||||||||||||||||||||||FORM REGISTER CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR|||||||||||||||||||||||||-->
                                <form
                                    class="
                                        ntg-debug-display-none
                                    "
                                    action="/register_car"
                                    id="form_right"
                                    method="post"
                                    role="form"
                                >





                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <input
                                            class="
                                                form-control
                                            "
                                            id="car_string_name_register"
                                            name="car_string_name_register"
                                            placeholder="Car Name."
                                            type="text"
                                        >
                                    </div>



                                    <div
                                        class="
                                            form-group
                                        "
                                    >
                                        <div
                                            class="
                                                col-xs-6
                                                ntg-debug-padding-left-px-0
                                                ntg-debug-padding-right-px-6-5
                                            "
                                        >
                                            <input
                                                class="
                                                    btn
                                                    btn-block
                                                    override-btn-register
                                                    form-control
                                                "
                                                type="submit"
                                                value="Register."
                                            >
                                        </div>
                                        <div
                                            class="
                                                col-xs-6
                                                ntg-debug-padding-left-px-6-5
                                                ntg-debug-padding-right-px-0
                                            "
                                        >
                                            <input
                                                class="
                                                    btn
                                                    btn-block
                                                    override-btn-reset
                                                    form-control
                                                "
                                                id="ntg_button_reset_car_register"
                                                type="reset"
                                                value="Reset."
                                            >
                                        </div>
                                    </div>





                                </form>
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR END|||||||||||||||||||||||||-->
                                <!--|||||||||||||||||||||||||FORM REGISTER CAR END|||||||||||||||||||||||||-->





                            </div>
                        </div>





                    </div>





                </div>
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->





            </div>
        </div>





    </div>





    <%- include /partials/import_js_bottom %>




</body>
</html>