<html
    ng-app="ng_app_page_main"
>
<head>
    <%- include /partials/import_css_and_title %>
</head>
<body
    class="
        ntg-debug-body-setting-1
    "
>





    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR|||||||||||||||||||||||||-->
    <nav
        class="
            navbar
            navbar-default
            navbar-fixed-top
            ntg-debug-dimension-width-percent-100
            ntg-debug-display-table
            ntg-debug-margin-0
            ntg-debug-padding-side-0
        "
    >





        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT|||||||||||||||||||||||||-->
        <div
            class="
                ntg-debug-align-item-left
                ntg-debug-navbar-table-cell-setting-1
            "
        >





            <!--|||||||||||||||||||||||||NAVBAR TITLE|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE|||||||||||||||||||||||||-->
            <div
                class="
                    navbar-header
                "
            >
                <a
                    class="
                        navbar-brand
                    "
                >
                    Toyota Real Time Admin Interface.
                </a>
            </div>
            <!--|||||||||||||||||||||||||NAVBAR TITLE END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||NAVBAR TITLE END|||||||||||||||||||||||||-->





            <ul
                class="
                    nav
                    navbar-nav
                "
            >
                <li
                    class="
                        nav-item
                    "
                >
                    <a
                        class="
                            nav-link
                        "
                        href="/page_main"
                    >
                        Main Page.
                    </a>
                </li>
                <li
                    class="
                        nav-item
                    "
                >
                    <a
                        class="
                            nav-link
                        "
                        href="/page_overview"
                    >
                        Overview.
                    </a>
                </li>






                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM|||||||||||||||||||||||||-->
                <li
                    class="
                        dropdown
                    "
                >
                    <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                    >
                        Forms.
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/page_edit_register_car">Car Form.</a>
                        </li>
                        <li>
                            <a href="/page_edit_register_user">User Form.</a>
                        </li>
                        <li>
                            <a href="/page_edit_register_workshop">Workshop Form.</a>
                        </li>
                    </ul>
                </li>
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU LEFT DROPDOWN FORM END|||||||||||||||||||||||||-->





            </ul>





        </div>
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU LEFT END|||||||||||||||||||||||||-->





        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT|||||||||||||||||||||||||-->
        <div
            class="
                ntg-debug-align-item-right
                ntg-debug-navbar-table-cell-setting-1
            "
        >





            <ul
                class="
                    nav
                    navbar-nav
                    navbar-right
                    ntg-debug-margin-side-px-15
                "
            >





                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR|||||||||||||||||||||||||-->
                <li
                    class="
                        dropdown
                        ntg-debug-margin-top-px-7
                    "
                >





                    <div
                        class="
                            input-group
                        "
                    >
                        <span
                            class="
                                input-group-btn
                            "
                        >
                            <button
                                class="
                                    btn
                                    btn-default
                                    dropdown-toggle
                                    form-control
                                    ntg-debug-radius-left
                                "
                                data-toggle="dropdown"
                                type="button"
                            >
                                Filter.
                            </button>
                            <ul
                                class="
                                    dropdown-menu
                                " 
                                role="menu"
                            >



                                <li>
                                    <a
                                        href="#admin"
                                    >
                                        Admin.
                                    </a>
                                </li>



                                <li>
                                    <a
                                        href="#car"
                                    >
                                        Car.
                                    </a>
                                </li>



                                <li>
                                    <a
                                        href="#user"
                                    >
                                        User.
                                    </a>
                                </li>



                                <li>
                                    <a
                                        href="#workshop"
                                    >
                                        Workshop.
                                    </a>
                                </li>



                                <li class="divider">
                                </li>



                                <li>
                                    <a
                                        href="#anything"
                                    >
                                        Anything.
                                    </a>
                                </li>



                            </ul>
                        </span>





                        <input
                            class="form-control"
                            placeholder="Search."
                            type="text"
                        >





                        <span
                            class="
                                input-group-btn
                            "
                        >
                        <div>
                            <button
                                class="
                                    btn
                                    btn-default
                                    form-control
                                    ntg-debug-radius-right
                                " 
                                type="button"
                            >
                                Search.
                            </button>
                            </div>
                        </span>





                    </div>
                </li>
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT SEARCH BAR END|||||||||||||||||||||||||-->





                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE|||||||||||||||||||||||||-->
                <li
                    class="
                        dropdown
                    "
                >
                    <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                    >
                        <div
                            class="
                                ntg-debug-dimension-width-px-100
                                ntg-debug-navbar-account-setting-1
                            "
                            id = "ntg_div_string_name_display"
                        >
                            <%= String_NameDisplay %>.
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/page_setting">
                                Settings.
                            </a>
                        </li>
                        <li>
                            <a href="/logout_admin">
                                Log Out.
                            </a>
                        </li>
                    </ul>
                </li>
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT PROFILE END|||||||||||||||||||||||||-->





            </ul>





        </div>
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT END|||||||||||||||||||||||||-->
        <!--|||||||||||||||||||||||||NAVBAR MENU RIGHT END|||||||||||||||||||||||||-->





    </nav>
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||NAVBAR END|||||||||||||||||||||||||-->





    <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT|||||||||||||||||||||||||-->
    <div
        class="
            container-fluid
            ntg-debug-dimension-height-percent-100
            ntg-debug-div-content-setting-1
        "
        id="ntg_div_content"
        ng-cloak
    >





        <div class="row">





            <!--|||||||||||||||||||||||||METIS MENU|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU|||||||||||||||||||||||||-->
            <div
                class="
                    col-xs-3
                    ntg-debug-dimension-height-percent-100
                    ntg-debug-overflow-y-auto
                    ntg-debug-padding-side-0
                "
                id="ntg_div_metis_menu"
            >
                <aside
                    class="
                        sidebar
                    "
                >
                    <nav
                        class="
                            sidebar-nav
                        "
                        id="ntg_metis_menu"
                    >
                        <ul
                            class="metismenu"
                        >





                            <!--|||||||||||||||||||||||||METIS MENU ADMIN|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN|||||||||||||||||||||||||-->
                            <li
                                class="
                                    active
                                "
                            >
                                <a
                                    href="
                                        /page_main
                                    "
                                >
                                    Admin.
                                    <span
                                        class="
                                            arrow glyphicon
                                        "
                                    >
                                    </span>
                                </a>





                                <ul
                                    aria-expanded="true"
                                    class="
                                        collapse in
                                    "
                                    ng-controller="ng_controller_page_main_repeat_admin"
                                >
                                    <li
                                        ng-repeat="_Model_Admin in categories"
                                    >
                                        <a
                                            href="/page_main"
                                        >





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>Name.</p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>{{_Model_Admin.Admin_String_Name}}.</p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>Email.</p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>{{_Model_Admin.Admin_String_Email}}.</p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>Location.</p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                    ng_attr_id="{{_model_admin.admin_string_workshopname}}"
                                                >
                                                    <p>{{_Model_Admin.Admin_String_WorkshopName}}.</p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p
                                                        class="
                                                            ntg-debug-margin-bottom-0
                                                        "
                                                    >
                                                        Available.
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p
                                                        class="
                                                            ntg-debug-margin-bottom-0
                                                            ntg-p-admin-bool-available
                                                        "
                                                        ng_attr_id="{{_model_admin._id}}"
                                                        ntg-change-scan-inner-html-available
                                                    >
                                                        {{_Model_Admin.Admin_Boolean_Available}}.
                                                    </p>
                                                </div>
                                            </div>





                                        </a>
                                    </li>
                                </ul>





                            </li>
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU ADMIN END|||||||||||||||||||||||||-->





                            <!--|||||||||||||||||||||||||METIS MENU USER|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER|||||||||||||||||||||||||-->
                            <li
                                class="
                                    active
                                "
                            >
                                <a
                                    href="/page_main"
                                >
                                    User.<span class="arrow glyphicon"></span>
                                </a>





                                <ul
                                    aria-expanded="true"
                                    class="
                                        collapse in
                                    "
                                    id="ntg_ul_user"
                                    ng-controller="ng_controller_page_main_repeat_user"
                                >
                                    <li
                                        ng-repeat="_Model_User in categories"
                                        ng-attr-id="{{'ntg_li_user_' + _Model_User._id}}"
                                    >
                                        <a>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>
                                                        Name.
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>{{_Model_User.User_String_Name}}.</p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>
                                                        Email.
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    
                                                    <p>
                                                        {{_Model_User.User_String_Email}}.
                                                    </p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>
                                                        Car.
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    
                                                    <p>
                                                        {{_Model_User.User_String_CarName}}.
                                                    </p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p
                                                        class="
                                                            ntg-debug-margin-bottom-0
                                                        "
                                                    >
                                                        AI.
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <input
                                                        type="checkbox"
                                                    >
                                                </div>
                                            </div>





                                        </a>
                                    </li>
                                </ul>





                            </li>
                            <!--|||||||||||||||||||||||||METIS MENU USER END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU USER END|||||||||||||||||||||||||-->





                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP|||||||||||||||||||||||||-->
                            <li
                                class="
                                    active
                                "
                            >
                                <a
                                    href="/page_main"
                                >
                                    Workshop.<span class="arrow glyphicon"></span>
                                </a>



                                <ul
                                    aria-expanded="true"
                                    class="
                                        collapse in
                                    "
                                    ng-controller="ng_controller_page_main_repeat_workshop"
                                >
                                    <li
                                        ng-repeat="_Model_Workshop in categories"
                                    >
                                        <a
                                            href="/page_main"
                                        >





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>Name</p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>{{_Model_Workshop.Workshop_String_Name}}.</p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>Latitude.</p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p>{{_Model_Workshop.Workshop_Number_Latitude}}.</p>
                                                </div>
                                            </div>





                                            <div
                                                class="
                                                    row
                                                "
                                            >
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    <p
                                                        class="
                                                            ntg-debug-margin-bottom-0
                                                        "
                                                    >
                                                        Longitude.
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        col-xs-6
                                                    "
                                                >
                                                    
                                                    <p
                                                        class="
                                                            ntg-debug-margin-bottom-0
                                                        "
                                                    >
                                                        {{_Model_Workshop.Workshop_Number_Longitude}}.
                                                    </p>
                                                </div>
                                            </div>





                                        </a>
                                    </li>
                                </ul>





                            </li>
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP END|||||||||||||||||||||||||-->
                            <!--|||||||||||||||||||||||||METIS MENU WORKSHOP END|||||||||||||||||||||||||-->





                        </ul>
                    </nav>
                </aside>





            </div>
            <!--|||||||||||||||||||||||||METIS MENU END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU END|||||||||||||||||||||||||-->
            <!--|||||||||||||||||||||||||METIS MENU END|||||||||||||||||||||||||-->





            <div
                class="
                    col-xs-9
                    ntg-debug-dimension-height-percent-100
                "
            >




                <div class="row">





                    <!--|||||||||||||||||||||||||OBD|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD|||||||||||||||||||||||||-->
                    <div
                        class="
                            col-xs-6
                            ntg-debug-dimension-height-percent-50
                            ntg-debug-div-background-and-border-setting-1
                            ntg-debug-margin-top-px-3
                            ntg-debug-padding-side-0
                        "
                    >
                    </div>
                    <!--|||||||||||||||||||||||||OBD END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||OBD END|||||||||||||||||||||||||-->





                    <!--|||||||||||||||||||||||||GOOGLE MAPS|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS|||||||||||||||||||||||||-->
                    <div
                        class="
                            col-xs-6
                            ntg-debug-dimension-height-percent-50
                            ntg-debug-div-background-and-border-setting-1
                            ntg-debug-margin-top-px-3
                            ntg-debug-padding-side-0
                        "
                        id="ntg_div_google_maps_main"
                    >
                    </div>
                    <!--|||||||||||||||||||||||||GOOGLE MAPS END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS END|||||||||||||||||||||||||-->
                    <!--|||||||||||||||||||||||||GOOGLE MAPS END|||||||||||||||||||||||||-->





                </div>





                <!--|||||||||||||||||||||||||CHAT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT|||||||||||||||||||||||||-->
                <div class="row">
                    <div
                        class="
                            col-xs-12
                            ntg-debug-dimension-height-percent-50
                            ntg-debug-padding-bottom-px-3
                            ntg-debug-padding-side-0
                        "
                    >






                        <div
                            class=" 
                                ntg-debug-div-background-and-border-setting-1
                                ntg-debug-overflow-y-auto
                                ntg-div-chat-box
                            "
                            id="ntg_div_chat_box"
                        >
                        </div>





                        <div
                            id="ntg_div_chat_tool"
                        >
                            <form
                                id="ntg_form_chat_tool"
                            >
                                <div
                                    class="
                                        input-group
                                    "
                                >
                                    <input
                                        class="
                                            form-control
                                            ntg-debug-radius-left
                                        "
                                        id="ntg_input_chat_tool"
                                        placeholder="Type your message."
                                        type="text"
                                    >
                                    <span
                                        class="
                                            input-group-btn
                                        "
                                    >
                                        <button
                                            class="
                                                btn
                                                btn-default
                                                form-control
                                                ntg-debug-radius-right
                                            "
                                            type="submit"
                                        >
                                            Send.
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>





                    </div>
                </div>
                <!--|||||||||||||||||||||||||CHAT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT END|||||||||||||||||||||||||-->
                <!--|||||||||||||||||||||||||CHAT END|||||||||||||||||||||||||-->




            </div>





        </div>





    </div>
    <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->
    <!--|||||||||||||||||||||||||CONTENT END|||||||||||||||||||||||||-->





    <!--JavaScripts those are not necessarily to be in every document.-->
    <script>
        //Set EJS parameters.
        var String_NameDisplay = <%-JSON.stringify(String_NameDisplay)%>;
    </script>





    <%- include /partials/import_js_bottom %>





    <!--JavaScripts those are not necessarily to be in every document.-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtpkvsY7CV5nf5oPWGvSEfiiWT-RCTlk0&callback=Void_InitGoogleMaps_Main" async defer></script>




</body>
</html>